/.idea/vcs.xml
/.idea/libraries/mysql_connector_java.xml
/.idea/misc.xml
/target/classes/org/example/Main.class
/target/classes/org/example/Inicio.class
/.idea/encodings.xml
/target/classes/org/example/Conexion.class
/.idea/compiler.xml
/.idea/.gitignore
